DATABASE_URL="postgresql://neondb_owner:npg_k6AWnUObX3YE@ep-restless-dust-ahpgvqrw-pooler.c-3.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
PORT=3001
SCRAPE_LOOKBACK_DAYS=30
